.indented{
    margin-left: 14px;
}

.card-header{
    cursor: pointer;
    background: #ffffff;
    margin-bottom: 0;
    /* don't allow selecting header content */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card-header .heading{
    margin: 0;
    margin-left: 14px;
    margin-right: 14px;
}

/**************/
/* Date Range */
/**************/
#ui-datepicker-div {
    width: 263px;
    z-index: 1100000 !important;
}

#accordion-date-content input[type=text]{
    display: block;
    background-color: #F6F6F6;
    color: #555555;
    height: 35px;
    border: solid 1px #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
    text-align: center; 
    width: 100%;
}

#accordion-content-rangepickers{
    margin-left: auto;
    margin-right: auto;
}
#accordion-content-rangepickers .ui-button-text{
    padding: .4em 0em;
}

#accordion-content-rangepickers .ui-button{
    font-size: 1em;
    width: 25%;
}
/**************/
/* Var Picker */
/**************/
#variablePickerList{
    max-height: 600px;
    overflow-y: scroll;
}
#variablePickerFilter{
    width: 100%;
    margin-bottom: 14px;
    padding-left: 4px;
}
#variablePickerSettingsButton{
    margin-top: 0;
    width: 100%;
}

#variablePickerList li{
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
}
#variablePickerList li:hover{
    background: #f5f5f5;
}
.variablePickerCategory{
    background: #eeeeee;
    padding-left: 14px;
    cursor: default !important;
}
/**************/
/*Var Settings*/
/**************/
.settingsNav{
    background: #eee;
}
.settingsNav .buttonRow{
    margin-top: 50px;
}

.settingsContent{
    margin-left: 14px;
    margin-right: 14px;
    margin-top:10px;
}

.settings-container{
    background: #fff;
    height: 400px;
    width: 400px;
    display: none;
}
.settings-container.open{
    background: #fff;
    display: block;
}

.settings-container b{
    font-size: 1.05em;
    display:block;
    color: #29bdca;
}
.settings-container table{
    border: none;
    width: 100%;
    margin:0;
    border-collapse:collapse;
}
.settings-container td{
    padding-bottom:4px;
    padding-top: 4px;
    border: none;
    vertical-align:middle;
}
.settings-container td:last-child{
    float:right;
    height: 40px;
    line-height:20px;
}
.settings-container input[type="radio"]{
    vertical-align:middle;
}
.settings-container input[type="radio"] + label{
    vertical-align: middle;
    padding-left: 8px;
}
.settings-container td:first-child{
    white-space: nowrap;
}

#joinedVariablePicker{
    position: relative;
    top: -10px;
    opacity: 0;
    width: 0px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}
#joinedVariablePicker.active {
    opacity: 1;
    width :230px;
}
#addJoinedVariableButton{
    position: relative;
    display: inline;
    width: 36px;
    height: 36px;
    margin-left: -14px;
    background-color: #cccccc;
    border: none;
    background: url('https://i.imgur.com/jf3AOBR.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;

}
#addJoinedVariableButton.active {
    margin-left: 0px;
    background: url('https://i.imgur.com/BHtx79d.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: none;
}
#addJoinedVariableButton:hover{
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.3));
    filter: url(https://i.imgur.com/BewrlqD.png#drop-shadow);
    background: url('https://i.imgur.com/BewrlqD.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
}
#addJoinedVariableButton.active:hover{
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.3));
    filter: url(https://i.imgur.com/enilel9.png#drop-shadow);
    background: url('https://i.imgur.com/enilel9.png');
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
}

#joinedVariablesList{
    margin-bottom: 0;
    list-style: none;
}
#joinedVariablesList div{
    cursor: pointer;
    float: right;
    width: 14px;
    height: 14px;
    opacity: 0;
    background-image: url('http://i.imgur.com/38DdMfw.png');
    background-size: 18px 18px;
    background-position: center;
    background-repeat:no-repeat;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
#joinedVariablesList div:hover{
    background: url('https://i.imgur.com/TGEwylD.png');
    background-size: 18px 18px;
    background-position: center;
    background-repeat:no-repeat;
}
#joinedVariablesList li:hover{
    color: #29bdca;
}
#joinedVariablesList li:hover div {
    opacity: 1;
}


/***********************/
/* Delete measurements */
/***********************/
#deletemeasurement-dialog-background{
    display: none;
    opacity: 0;
}

#deletemeasurement-dialog{
    display: none;
    max-width: 500px;
    opacity: 0;
}

.deletemeasurement-dialog{
    overflow: hidden;
    padding: 10px;
    background: #fbfbfb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1000001;
    position: fixed;
    width: 430px;    
    top: 30%;
    left:50%;
    margin-left:-215px;
    margin-right:0px;
}

#deletemeasurement-dialog-header{
    color: #fff;
    background: #29bdca;
    border-bottom: solid 3px #229DA5;
    cursor: auto;
}

.deletemeasurement-header {
    width: 100%;
    height: 42px;
    color: #fff;
    display: block;
    font-size: 1.2em;
    text-indent: 14px;
    cursor: pointer;
    margin-top: 5px;
}

#deletemeasurement-dialog-content table {
     margin-top: 5px;
}

#deletemeasurement-dialog-content table tr td {    
    border:none;
}


/**************************/
/* Loading overlay config */
/**************************/
.loading-overlay-content,
.loading-overlay{
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/wp-content/themes/metrolium-qm/plugins/login-with-ajax/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}


/********************/
/* Add measurements */
/********************/
#addmeasurement-dialog-background{
    display: none;
    opacity: 0;
}
#addmeasurement-dialog{
    display: none;
    max-width: 500px;
    opacity: 0;
}

#addmeasurement-dialog-content{
    overflow:hidden;
    width: 100%;
    box-sizing:border-box;
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}


.addmeasurement-header{
    width: 100%;
    height: 42px;
    color: #fff;
    display: block;
    font-size: 1.2em;
    text-indent: 14px;
    cursor: pointer;
    margin-top: 12px;
}
.addmeasurement-content{
    overflow:hidden;
    width: 100%;
    box-sizing:border-box;
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}
.addmeasurement-content .inner{
    padding-top: 12px;
    padding-bottom: 12px;
}





#addmeasurement-dialog-header{
    color: #fff;
    background: #29bdca;
    border-bottom: solid 3px #229DA5;
    cursor: auto;
}

#addmeasurement-dialog-content b{
    font-size: 1.05em;
    display:block;
    color: #29bdca;
}
#addmeasurement-dialog-content table{
    border: none;
    margin:0px;
    margin-bottom: 10px;
    border-collapse:collapse;
}
#addmeasurement-dialog-content td{
    padding-bottom:4px;
    padding-top: 4px;
    border: none;
    vertical-align:middle;
}
#addmeasurement-dialog-content td:first-child{
    padding-left:8px;
}
#addmeasurement-dialog-content td:last-child{
    float:right;
    height: 40px;
    line-height:20px;
    width: 140px;
}
#addmeasurement-dialog-content div{
    padding-left: 8px;
    padding-bottom:4px;
    padding-top: 4px;
    border: none;
    vertical-align:middle;
}

#addmeasurement-dialog-content td:first-child{
    white-space: nowrap;
}

.ui-autocomplete { 
    position: absolute; 
    cursor: default;
    z-index:1200000 !important;
} 

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.xdsoft_datetimepicker {
    z-index:1200000 !important;
}


/***************************************/
/* Left menubar                        */
/***************************************/
.accordion-header{
    width: 100%;
    height: 42px;
    display: block;
    font-size: 1.2em;
    text-indent: 14px;
    margin-top: 12px;
}
.accordion-content{
    width: 100%;
    box-sizing:border-box;
    background-color: #FFFFFF;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
}
.accordion-content .inner{
    padding-top: 12px;
    padding-bottom: 12px;
}

.accordion-content .inner .unitlabel{
    width: 40%;
    vertical-align: middle;
    line-height: 160%;
    margin-left: 10px;
    display: inline;
    padding-left: 10px;
    margin-top: -20%;
    float: right;
}

/**************************************************/
/* Helper class for show/hide element transitions */
/**************************************************/
.transitions {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}


/*************/
/* gear icon */
/*************/
.gear-icon{
    cursor: pointer;
    margin-top: -2px;
    margin-right: 7px;
    width: 26px;
    height:26px;
    float: right;
    /*background:url('https://i.imgur.com/dw7YcYP.png');*/
    background-image: url('https://i.imgur.com/WDuw5IF.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.gear-icon:hover{
    background-image: url('https://i.imgur.com/WDuw5IF.png');
}


/***********/
/* Dialogs */
/***********/
.dialog-header {
    float: left; 
    line-height: 42px;
}

.dialog{
    overflow: hidden;
    padding: 10px;
    background: #fbfbfb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1000001;
    position: fixed;
    width: 280px;
    height: 290px;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) { 
    .dialog {
        top: 100px;
    }
}

.dialog-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .5;
    z-index: 1000000;
}
#login-dialog table{
    border: none;
    margin:0px;
    border-collapse:collapse;
}
#login-dialog td{
    border: none;
    vertical-align:middle;
}

#share-dialog-background{
    display: none;
    opacity: 0;
}
#share-dialog{
    display: none;
    max-width: 500px;
    opacity: 0;
}