@charset "utf-8";

#addVariableMenu ul{
    width: 220px;
}

.ui-icon, .ui-widget-content .ui-icon {
    margin-top: 2px;
}

#selectedVariables{
    margin-left: 16px;
    margin-bottom: 0;
    list-style: none;
}
#selectedVariables li:first-child{
    margin-top: 12px;
    margin-left:-12px;
}
#selectedVariables li{
    margin-left:-12px;
    overflow: hidden;
}
#selectedVariables .colorIndicator{
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 6px;
    margin-right: 12px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

#selectedVariables .loading{
    background: url('https://i.imgur.com/f5ZQgfX.gif');
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

#selectedVariables .closeButton{
    cursor: pointer;
    float: right;
    padding-top: 4px;
    opacity: 0.07;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
#selectedVariables .eyeballButton{
    cursor: pointer;
    float: right;
    opacity: 0.07;      
    border: none; 
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    padding: 4px 10px 0px 10px;
}
#selectedVariables .settingsButton {    
    cursor: pointer;
    float: right;    
    padding-top: 4px; 
    opacity: 0.07;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

#selectedVariables li:hover{
    color: #29bdca;
}
#selectedVariables li:hover div {
    opacity: 1;
}

#section-configure{
    float: left;
    width: 300px;
}

#section-analyze{
    overflow: hidden;
    padding-left: 30px;
}

/***************************************/
/* Analyze section 					    */
/***************************************/
#timeline-graph {
   background:#FFFFFF; 
}

.graph-content{
    width:100%; 
    height:787px; 
    overflow: hidden;
   // background: url(images/QM-LOGO-CRAZY-ARROWS-blue.png) center center no-repeat;
    background: url(images/QM-LOGO-Mike.png) center center no-repeat;
    background-size: 50% auto;
}

/***************************************/
/* Left menubar					       */
/***************************************/
#section-configure-input{
    position: relative;
}
#section-configure-settings{
    overflow: hidden;
    position: relative;
}

.accordion-header{
    color: #29bdca;               
}

/**************/
/* Date Range */
/**************/
#accordion-date-header{
    background: #fff;
    border-bottom: solid 3px #e5394a;
}


/* Responsive stuffs */
@media only screen and (max-width: 768px) {
    #section-configure{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        top: 0;
    }
    #section-analyze{
        overflow: visible;
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        top: 0;
    }
}

.buttonrow-2 {
    margin: auto;
    width: 49%;
}


/**no vars message**/
.no-message {
    display: none;
}
.no-message a {
    text-decoration: underline;
    font-weight: bold;
}